.carousel .slide{
    height:50vh;
    /* background-color:#372948; */
    background-color: transparent;
}
.carousel {
    display: flex;
    background-color: transparent;
    cursor: grab;
}

/* .carousel:click{
    cursor: grabbing;
} */

.carousel .slide img{
    width:20vw;
    min-width: 200px;
    
}
@media only screen and (max-width:600px) {
    .carousel .slide img{
        width: 200px;
    }
    .carousel .slide{
        height:40vh;
        background-color: transparent;
    }
}